:host {
	max-width: 488px;
	width: 100%;
}

.case-card {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	appearance: none;
	color: #161B24;
	--color: #161B24;
	transition: all ease 0.15s;

	&:hover {
		color: #5A82FA;
		--color: #5A82FA;
	}

	img {
		max-width: 488px;
		max-height: 240px;
		width: 100%;
		height: 100%;
		/* object-fit: cover; */
	}

	.text {
		padding: 16px 0;

		.upperline {
			display: flex;
			align-items: center;
		}

		h3 {
			display: inline;
			margin: 0;
			margin-right: 8px;
			font-weight: 500;
			font-size: 18px;
			line-height: 24px;
		}

		span {
			color: #fff;
			padding: 2px 8px;
			background: var(--color);
			margin-right: 2px;
			border-radius: 4px;
			font-size: 12px;
			font-weight: 300;
			line-height: 16px;
			transition: background-color ease 0.15s;
		}

		time {
			padding: 2px 8px;
			outline: var(--color) solid 1px;
			border-radius: 4px;
			font-size: 12px;
			font-weight: 300;
			line-height: 16px;
			transition: outline ease 0.15s;
		}

		p {
			margin: 0;
			margin-top: 4px;
			font-size: 15px;
		}
	}
}